<mat-toolbar>
  <div class="col-md-10 text-left">Lista de Catalogos</div>
  <div class="col-md-2 text-right">
    <button
      mat-raised-button
      color="accent"
      routerLink="/dashboard/crear-catalogo"
    >
      Nuevo Catalogo
    </button>
  </div>
</mat-toolbar>
<mat-card class="container">
  <div *ngIf="lista.length > 0">
    <div class="class=items col-md-4 col-xs-12" *ngFor="let x of lista">
      <mat-card-content>
        <img
          class="card-img-top"
          src="assets/recursos/imgCurso.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h2 class="card-title">{{ x.nombre }}</h2>
          <h4 class="card-text">{{ x.descripcion }}</h4>
        </div>
      </mat-card-content>
      <mat-card-actions style="text-align: center">
        <a
          class="mr-2"
          mat-button
          color="warn"
          data-toggle="tooltip"
          (click)="eliminar(x)"
          matTooltip="Eliminar"
        >
          <mat-icon aria-hidden="true" aria-label="Example home icon"
            >delete</mat-icon
          >
        </a>
        <a
          class="mr-2"
          mat-button
          color="primary"
          [routerLink]="['/dashboard/editar-catalogo', x.idCatalogo]"
          data-toggle="tooltip"
          matTooltip="Editar"
        >
          <mat-icon aria-hidden="true" aria-label="Example home icon"
            >mode_edit</mat-icon
          >
        </a>

        <a
          class="mr-2"
          mat-button
          color="indigo"
          [routerLink]="['/dashboard/crear-curso', x.idCatalogo]"
          data-toggle="tooltip"
          matTooltip="Crear curso"
        >
          <mat-icon aria-hidden="true" aria-label="Example home icon"
            >forward
          </mat-icon>
        </a>
      </mat-card-actions>
    </div>
  </div>

  <div *ngIf="lista.length == 0">
    <span>No hay datos</span>
  </div>
</mat-card>
