.toolbar{
  display: flex;
  width: auto;
}
.container{


  justify-content: center;

  height: auto;
}
.items{
  text-align: center;
    padding-top: 20px;
    background-color: #fff;
    border: 2px solid #ecf0f1;
    border-top: 0;
    overflow: hidden;
    display: flex;
}

.contenedor{
  width: 100%;

  display: flex;
}
.mat-table{
  width: 100%;
}
.ng-container{
  padding: 10px;
}
.mat-header-cell {
  text-align: center;

}
.mat-cell{
  padding-right: 10px;
}

.mensaje{
  text-align: center;
  font-size: 18px;
}
