<mat-card class="container">
  <form [formGroup]="form" appearance="standard">
    <mat-card-header>
      <mat-card-title>Formulario Matrícula</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <br />

      <mat-label>Fecha Inscripcion {{ fecha | date: "dd/MM/yyyy" }}</mat-label>

      <br />
      <mat-form-field appearance="standard">
        <mat-label>Buscar alumno por cédula</mat-label>
        <input matInput (keyup)="filtrar($event)" formControlName='alumno'  #input />
        <div id="example23_filter" class="dataTables_filter"></div>
      </mat-form-field>

      <mat-label
        >Apellidos:

        {{ lista.alumno.apellidoPrimer }} {{ lista.alumno.apellidoSegundo }}
        {{ alumno.apellidoPrimer }} {{ alumno.apellidoSegundo }}
      </mat-label>
      <mat-label
        >Nombres: {{ lista.alumno.nombrePrimer }}
        {{ lista.alumno.nombreSegundo }} {{ alumno.nombrePrimer }}
        {{ alumno.nombreSegundo }}
      </mat-label>
      <br />
      <mat-form-field appearance="standard">
        <mat-label>Buscar curso</mat-label>
        <input
          matInput
          formControlName="curso"
          (keyup)="filtrarCurso($event)"
          autocomplete="off"
          #input
        />{{ lista.curso.catalogo.nombre }}
        <div id="example23_filter" class="dataTables_filter"></div>
      </mat-form-field>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="listaCurso" matSort>
          <ng-container matColumnDef="titulo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Titulo</th>
            <td mat-cell *matCellDef="let element">
              {{ element.catalogo.nombre }}
            </td>
          </ng-container>
          <ng-container matColumnDef="categoria">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Categoria</th>
            <td mat-cell *matCellDef="let element">{{ element.categoria }}</td>
          </ng-container>

          <ng-container matColumnDef="duracion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Duracion</th>
            <td mat-cell *matCellDef="let element">{{ element.duracion }}</td>
          </ng-container>

          <ng-container matColumnDef="docente">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Docente</th>
            <td mat-cell *matCellDef="let element">
              {{ element.docente.apellidoPrimer }}
              {{ element.docente.nombrePrimer }}
            </td>
          </ng-container>

          <ng-container matColumnDef="fechaInicio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Fecha Inicio
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.fechaInicio }}
            </td>
          </ng-container>

          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
            <td mat-cell *matCellDef="let element">{{ element.estado }}</td>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Seleccionar
            </th>
            <td  mat-cell *matCellDef="let element">
              <mat-radio-group [(ngModel)]="element.curso"></mat-radio-group>
              <mat-radio-button style="align-items : center;" 
                (click)="seleccionarCurso(element)"
              ></mat-radio-button></td
          ></ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator
          [length]="length"
          [pageSize]="pageSize"
          [pageSizeOptions]="pageSizeOptions"
          (page)="pageEvent = $event"
          aria-label="Select page"
        >
        </mat-paginator>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        (click)="irLista()"
        style="margin-right: 20px"
      >
        Volver
      </button>
      <button
        type="submit"
        [disabled]="form.invalid"
        mat-raised-button
        color="accent"
        (click)="agregar()"
      >
        Guardar
      </button>
    </mat-card-actions>
  </form>
</mat-card>
