<mat-nav-list>
<div class="logo py-4">
  <img src="assets/recursos/apecs.png">
</div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">Aplicaciones</h2>
  <a mat-list-item routerLink="/home" routerLinkActive="list-item-active" href="">
    <mat-icon>home</mat-icon>Home
  </a>
  <a mat-list-item routerLink="/dashboard/listar-alumnos" routerLinkActive="list-item-active" href="">
    <mat-icon>dashboard</mat-icon>Dashboard
  </a>
  <a mat-list-item>
    <mat-icon>edit</mat-icon> Link 1
  </a>
  <a mat-list-item>
    <mat-icon>edit</mat-icon> Link 2
  </a>
  <a mat-list-item>
    <mat-icon>edit</mat-icon> Link 3
  </a>
</mat-nav-list>
