<mat-card>
<form [formGroup]="form" appearance="standard">

    <mat-card-header>
      <mat-card-title>Formulario Curso</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="datos">
        <div class="row">
          <mat-form-field class="full-width" appearance="legacy">
            <mat-label>Titulo</mat-label>
            <input
              matInput
              autocomplete="off"
              formControlName="titulo"
              [(ngModel)]="lista.titulo"
            />
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field
            class="full-width"
            style="height: 200px"
            appearance="legacy"
          >
            <mat-label>Descripcion</mat-label>
            <textarea
              matInput
              autocomplete="off"
              formControlName="descripcion"
              [(ngModel)]="lista.descripcion"
            ></textarea>
          </mat-form-field>
        </div>

        <table>
          <TR>
            <TD>
              <mat-form-field class="medio-width" appearance="legacy">
                <mat-label>Categoria</mat-label>
                <input
                  matInput
                  autocomplete="off"
                  formControlName="categoria"
                  [(ngModel)]="lista.categoria"
                />
              </mat-form-field>

              <mat-form-field class="medio-width" appearance="legacy">
                <mat-label>Cupos</mat-label>
                <input
                  matInput
                  type="number"
                  autocomplete="off"
                  formControlName="cupos"
                  [(ngModel)]="lista.cupos"
                />
              </mat-form-field>

              <mat-form-field class="medio-width" appearance="legacy">
                <mat-label>Duracion</mat-label>
                <input
                  matInput
                  type="number"
                  autocomplete="off"
                  formControlName="duracion"
                  [(ngModel)]="lista.duracion"
                />
              </mat-form-field>
            </TD>

            <TD>
              <mat-form-field appearance="legacy">
                <mat-label>Fecha de inscripcion</mat-label>
                <input
                  matInput
                  [matDatepicker]="myDatepicker1"
                  autocomplete="off"
                  formControlName="fechaInscripcion"

                  [(ngModel)]="lista.fechaInscripcion"
                />
              </mat-form-field>
              <mat-datepicker-toggle
                [for]="myDatepicker1"
              ></mat-datepicker-toggle>
              <mat-datepicker #myDatepicker1></mat-datepicker>

              <mat-form-field appearance="legacy">
                <mat-label>Fecha inicio</mat-label>
                <input
                  matInput
                  [matDatepicker]="myDatepicker2"
                  autocomplete="off"
                  formControlName="fechaInicio"

                  [(ngModel)]="lista.fechaInicio"
                />
              </mat-form-field>
              <mat-datepicker-toggle
                [for]="myDatepicker2"
              ></mat-datepicker-toggle>
              <mat-datepicker #myDatepicker2></mat-datepicker>

              <mat-form-field appearance="legacy">
                <mat-label>Fecha fin</mat-label>
                <input
                  matInput
                  [matDatepicker]="myDatepicker3"
                  autocomplete="off"
                  formControlName="fechaFin"

                  [(ngModel)]="lista.fechaFin"
                />
              </mat-form-field>
              <mat-datepicker-toggle
                [for]="myDatepicker3"
              ></mat-datepicker-toggle>
              <mat-datepicker #myDatepicker3></mat-datepicker>
            </TD>
          </TR>
        </table>
        <div class="row">
          <mat-form-field class="full-width" appearance="legacy">
            <mat-label>Seminarios</mat-label>
            <input
              matInput
              autocomplete="off"
              formControlName="seminarios"
              [(ngModel)]="lista.seminarios"
            />
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="full-width" appearance="legacy">
            <mat-label>Materias</mat-label>
            <mat-select
              matInput
              autocomplete="off"
              formControlName="materia"
              [compareWith]="compareMateria"
              [(ngModel)]="lista.materia"
            >
              <mat-option
                *ngFor="let topping of listaMaterias"
                [value]="topping"
                >{{ topping.nombre }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="full-width" appearance="legacy">
            <mat-label>Horario</mat-label>
            <mat-select
              matInput
              autocomplete="off"
              formControlName="horario"
              [compareWith]="compareHorario"
              [(ngModel)]="lista.horario"
            >
              <mat-option
                *ngFor="let topping of listaHorarios"
                [value]="topping"
                >{{ topping.dias }} {{ topping.horaInicio }}
                {{ topping.HoraFin }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="anexos">
        <div class="row">
          <mat-form-field class="full-width" appearance="legacy">
            <mat-label>Docente</mat-label>
            <mat-select
              matInput
              autocomplete="off"
              formControlName="docente"
              [compareWith]="compareDocente"
              [(ngModel)]="lista.docente"
            >
              <mat-option
                *ngFor="let topping of listaDocentes"
                [value]="topping"
                >{{ topping.nombrePrimer }}
                {{ topping.apellidoPrimer }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="full-width" appearance="legacy">
            <mat-label>Paralelo</mat-label>
            <mat-select
              matInput
              autocomplete="off"
              formControlName="paralelo"
              [(ngModel)]="lista.paralelo"
              [compareWith]="compareParalelo"

            >
              <mat-option
                *ngFor="let x of listaParalelos"
                [value]="x"
                >{{ x.nombre }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="full-width" appearance="legacy">
            <mat-label>Imagen</mat-label>
            <input
              matInput
              autocomplete="off"
              formControlName="img"
              [(ngModel)]="lista.img"
            />
          </mat-form-field>
        </div>

        <div class="row" style="height: 400px">
          <mat-form-field class="full-width" appearance="legacy">
            <mat-label>PDF</mat-label>
            <input
              matInput
              autocomplete="off"
              formControlName="pdf"
              [(ngModel)]="lista.pdf"
            />
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>

    <div class="row">
      <div style="text-align: center">
        <button
          mat-raised-button
          color="primary"
          (click)="irLista()"
          style="margin-right: 20px"
        >
          Volver
        </button>
        <button
          type="submit"
          [disabled]="form.invalid"
          mat-raised-button
          color="accent"
          (click)="agregar()"
        >
          Guardar
        </button>
      </div>
    </div>

</form>
</mat-card>
