<mat-card class="container">
  <form [formGroup]="form" appearance="standard">
    <mat-card-header>
      <mat-card-title>Formulario Sucursales</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field style="width: 300px" appearance="legacy">
        <mat-label>Nombre</mat-label>
        <input
          matInput
          autocomplete="off"
          formControlName="nombre"
          [(ngModel)]="lista.nombre"
        />
      </mat-form-field>

      <mat-form-field style="width: 200px" appearance="legacy">
        <mat-label>Cuidad</mat-label>
        <textarea
          matInput
          autocomplete="off"
          formControlName="ubicacion"
          [(ngModel)]="lista.ubicacion"
        ></textarea>
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>Teléfono</mat-label>
        <input
          matInput
          type="number"
          autocomplete="off"
          formControlName="telefono"
          [(ngModel)]="lista.telefono"
        />
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>Direccion</mat-label>
        <input
          matInput
          autocomplete="off"
          formControlName="direccion"
          [(ngModel)]="lista.direccion"
        />
      </mat-form-field>

      <mat-card-actions style="text-align: center">
        <button
          mat-raised-button
          color="primary"
          (click)="irLista()"
          style="margin-right: 20px"
        >
          Volver
        </button>
        <button
          type="submit"
          [disabled]="form.invalid"
          mat-raised-button
          color="accent"
          (click)="agregar()"
        >
          Guardar
        </button>
      </mat-card-actions>
    </mat-card-content>
  </form>
</mat-card>
