*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  background: #083177;
}

header{
<<<<<<< HEAD
	width: 40px;
=======
  width: 100%;
>>>>>>> 7ffdfa71fa1b955d2867c295291663322e51cbcf
}

.navegacion{
	width: 1000px;
	margin: 30px auto;
  color: #fff;
  height: 50px;

}

.navegacion ul{
	list-style: none;
  height:  50px;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li a:hover{
	color: gainsboro;
	transition: all .3s;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #083177;
	width: 160%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}
