<body>
  <header>
    <nav class="navegacion">
      <h1 class="menuLogo">Apecs</h1>

      <ul class="menu">
        <li>
          <a href="">Inicio</a>
        </li>
        <li> <a href=" ">Personas </a>
          <ul class="submenu">
            <li>
              <a href="/inscripcion">Inscribir</a>
            </li>
            <li>
              <a href="/dashboard/listar-alumnos">Ver Estudiantes</a>
            </li>
            <li>
              <a href="/dashboard/crear-docente">Agregar Docente</a>
            </li>
            <li>
              <a href="/dashboard/listar-docentes">Ver Docentes</a>
            </li>
            <li>
              <a href="/dashboard/listar-representantes">Ver Representante</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="">Cursos </a>
          <ul class="submenu">
            <li>
              <a href="/dashboard/crear-curso">Crear Cursos</a>
            </li>
            <li>
              <a href="/dashboard/listar-cursos">Ver Cursos</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="">Contratos </a>
          <ul class="submenu">
            <li>
              <a href="/dashboard/crear-contrato">Crear Contrato</a>
            </li>
            <li class="menuInside">
              <a href="/dashboard/listar-contratos">Ver Contratos</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="">Home </a>
        </li>
      </ul>
    </nav>
  </header>
</body>
