<form #MyForm="ngForm" (submit)="agregar(MyForm)" appearance="standard">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Formulario Curso</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="datos">
        <div class="row">
          <mat-form-field class="full-width" appearance="legacy">
            <mat-label>Titulo</mat-label>
            <input
              matInput
              autocomplete="off"
              name="titulo"
              #titulo="ngModel"
              [(ngModel)]="lista.titulo"
            />
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field
            class="full-width"
            style="height: 200px"
            appearance="legacy"
          >
            <mat-label>Descripcion</mat-label>
            <textarea
              matInput
              autocomplete="off"
              name="descripcion"
              #descripcion="ngModel"
              [(ngModel)]="lista.descripcion"
            ></textarea>
          </mat-form-field>
        </div>

        <table>
          <TR>
            <TD>
              <mat-form-field class="medio-width" appearance="legacy">
                <mat-label>Categoria</mat-label>
                <input
                  matInput
                  autocomplete="off"
                  name="categoria"
                  #categoria="ngModel"
                  [(ngModel)]="lista.categoria"
                />
              </mat-form-field>

              <mat-form-field class="medio-width" appearance="legacy">
                <mat-label>Cupos</mat-label>
                <input
                  matInput
                  type="number"
                  autocomplete="off"
                  name="cupos"
                  #cupos="ngModel"
                  [(ngModel)]="lista.cupos"
                />
              </mat-form-field>

              <mat-form-field class="medio-width" appearance="legacy">
                <mat-label>Duracion</mat-label>
                <input
                  matInput
                  type="number"
                  autocomplete="off"
                  name="duracion"
                  #duracion="ngModel"
                  [(ngModel)]="lista.duracion"
                />
              </mat-form-field>
            </TD>

            <TD>
              <mat-form-field appearance="legacy">
                <mat-label>Fecha de inscripcion</mat-label>
                <input
                  matInput
                  [matDatepicker]="myDatepicker1"
                  autocomplete="off"
                  name="fechaInscripcion"
                  #fechaInscripcion="ngModel"
                  [(ngModel)]="lista.fechaInscripcion"
                />
              </mat-form-field>
              <mat-datepicker-toggle
                [for]="myDatepicker1"
              ></mat-datepicker-toggle>
              <mat-datepicker #myDatepicker1></mat-datepicker>

              <mat-form-field appearance="legacy">
                <mat-label>Fecha inicio</mat-label>
                <input
                  matInput
                  [matDatepicker]="myDatepicker2"
                  autocomplete="off"
                  name="fechaInicio"
                  #fechainicio="ngModel"
                  [(ngModel)]="lista.fechaInicio"
                />
              </mat-form-field>
              <mat-datepicker-toggle
                [for]="myDatepicker2"
              ></mat-datepicker-toggle>
              <mat-datepicker #myDatepicker2></mat-datepicker>

              <mat-form-field appearance="legacy">
                <mat-label>Fecha fin</mat-label>
                <input
                  matInput
                  [matDatepicker]="myDatepicker3"
                  autocomplete="off"
                  name="fechaFin"
                  #fechaFin="ngModel"
                  [(ngModel)]="lista.fechaFin"
                />
              </mat-form-field>
              <mat-datepicker-toggle
                [for]="myDatepicker3"
              ></mat-datepicker-toggle>
              <mat-datepicker #myDatepicker3></mat-datepicker>
            </TD>
          </TR>
        </table>
        <div class="row">
          <mat-form-field class="full-width" appearance="legacy">
            <mat-label>Seminarios</mat-label>
            <input
              matInput
              autocomplete="off"
              name="seminarios"
              #seminarios="ngModel"
              [(ngModel)]="lista.seminarios"
            />
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="full-width" appearance="legacy">
            <mat-label>Materias</mat-label>
            <mat-select
              matInput
              autocomplete="off"
              name="materia"
              #materia="ngModel"
              [(ngModel)]="lista.materia"

            >
              <mat-option
                *ngFor="let topping of listaMaterias"
                [value]="topping"
                >{{ topping.nombre }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="full-width" appearance="legacy">
            <mat-label>Horario</mat-label>
            <mat-select
              matInput
              autocomplete="off"
              name="horario"
              #horario="ngModel"
              [(ngModel)]="lista.horario"
            >
              <mat-option
                *ngFor="let topping of listaHorarios"
                [value]="topping"
                >{{ topping.dias }} {{ topping.horaInicio }}
                {{ topping.HoraFin }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="anexos">
        <div class="row">
          <mat-form-field class="full-width" appearance="legacy">
            <mat-label>Docente</mat-label>
            <mat-select
              matInput
              autocomplete="off"
              name="docente"
              #docente="ngModel"
              [(ngModel)]="lista.docente"
            >
              <mat-option
                *ngFor="let topping of listaDocentes"
                [value]="topping"
                >{{ topping.nombrePrimer }}
                {{ topping.apellidoPrimer }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="full-width" appearance="legacy">
            <mat-label>Materias</mat-label>
            <mat-select
              matInput
              autocomplete="off"
              name="paralelo"
              #paralelo="ngModel"
              [(ngModel)]="lista.paralelo"
            >
              <mat-option
                *ngFor="let topping of listaParalelos"
                [value]="topping"
                >{{ topping.descripcion }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="full-width" appearance="legacy">
            <mat-label>Imagen</mat-label>
            <input
              matInput
              autocomplete="off"
              name="img"
              #img="ngModel"
              [(ngModel)]="lista.img"
            />
          </mat-form-field>
        </div>

        <div class="row" style="height: 400px">
          <mat-form-field class="full-width" appearance="legacy">
            <mat-label>PDF</mat-label>
            <input
              matInput
              autocomplete="off"
              name="pdf"
              #materia="ngModel"
              [(ngModel)]="lista.pdf"
            />
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>

    <div class="row">
      <div class="form-actions" style="text-align: center">
        <button
          mat-raised-button
          color="primary"
          (click)="irLista()"
          style="margin-right: 20px"
        >
          Volver
        </button>
        <button
          type="submit"
          mat-raised-button
          color="accent"
        >
          Guardar
        </button>
      </div>
    </div>
  </mat-card>
</form>
