<mat-nav-list>
  <div class="logo py-4">
    <img src="assets/recursos/apecs.png">
  </div>
  <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">Título</h2>
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
      <mat-icon>home</mat-icon>Home
    </a>
    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
      <mat-icon>dashboard</mat-icon>Dashboard
    </a>
  <a mat-list-item routerLink="/inicio" routerLinkActive="list-item-active">
    <mat-icon>contact_support</mat-icon>Contáctenos
  </a>
</mat-nav-list>
