<div class="container">
  <mat-toolbar>
    <span>Crear curso</span>
  </mat-toolbar>


  <form [formGroup]="form" appearance="standard">


        <mat-form-field >
          <mat-label>Titulo</mat-label>
          <input matInput autocomplete="off" formControlName="nombre" [(ngModel)]="lista.titulo">
        </mat-form-field>

       <mat-form-field>
          <mat-label>Descripcion</mat-label>
          <textarea  matInput autocomplete="off" formControlName="descripcion" [(ngModel)]="lista.descripcion"></textarea>
        </mat-form-field>
        <mat-form-field >
          <mat-label>Categoria</mat-label>
          <input matInput autocomplete="off" formControlName="categoria" [(ngModel)]="lista.categoria">
        </mat-form-field>
        <mat-form-field >
          <mat-label>Cupos</mat-label>
          <input matInput autocomplete="off" formControlName="cupos" [(ngModel)]="lista.cupos">
        </mat-form-field>
        <mat-form-field >
          <mat-label>Seminarios</mat-label>
          <input matInput autocomplete="off" formControlName="seminarios" [(ngModel)]="lista.seminarios">
        </mat-form-field>
        <mat-form-field >
          <mat-label>Duracion</mat-label>
          <input matInput autocomplete="off" formControlName="duracion" [(ngModel)]="lista.duracion">
        </mat-form-field>
        <mat-form-field >
          <mat-label>Fecha de inscripcion</mat-label>
          <input matInput autocomplete="off" formControlName="fechaInscripcion" [(ngModel)]="lista.fechaInscripcion">
        </mat-form-field>
        <mat-form-field >
          <mat-label>Fecha inicio</mat-label>
          <input matInput autocomplete="off" formControlName="fechaInicio" [(ngModel)]="lista.fechaInicio">
        </mat-form-field>
        <mat-form-field >
          <mat-label>Fecha fin</mat-label>
          <input matInput autocomplete="off" formControlName="fechaFin" [(ngModel)]="lista.fechaFin">
        </mat-form-field>
              <mat-form-field >
          <mat-label>Imagen</mat-label>
          <input matInput autocomplete="off" formControlName="img" [(ngModel)]="lista.img">
        </mat-form-field>

        <mat-form-field >
          <mat-label>PDF</mat-label>
          <input matInput autocomplete="off" formControlName="pdf" [(ngModel)]="lista.pdf">
        </mat-form-field>

<div style="text-align: center;">
        <button mat-raised-button color="primary" routerLink="/dashboard/listar-materias" style="margin-right: 20px;">   Volver</button>
      <button type="submit" [disabled]="form.invalid" mat-raised-button  color="accent" routerLink="/dashboard/crear-cursos" (click)="agregar()">   Guardar
      </button>
</div >



  </form>
</div>
