<mat-card class="container">
  <form [formGroup]="form" appearance="standard">
    <mat-card-header>
      <mat-card-title>Formulario Estudiantes</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field appearance="legacy">
        <mat-label>Primer nombre</mat-label>
        <input
          matInput
          autocomplete="off"
          formControlName="primerNombre"
          [(ngModel)]="lista.nombrePrimer"
        />
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>Segundo nombre</mat-label>
        <input
          matInput
          autocomplete="off"
          formControlName="segundoNombre"
          [(ngModel)]="lista.nombreSegundo"
        />
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>Primer Apellido</mat-label>
        <input
          matInput
          autocomplete="off"
          formControlName="primerApellido"
          [(ngModel)]="lista.apellidoPrimer"
        />
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>Segundo Apellido</mat-label>
        <input
          matInput
          autocomplete="off"
          formControlName="segundoApellido"
          [(ngModel)]="lista.apellidoSegundo"
        />
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>Identificación</mat-label>
        <input
          matInput
          maxlength="10"
          autocomplete="off"
          formControlName="identificacion"
          [(ngModel)]="lista.identificacion"
        />
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>Dirección</mat-label>
        <input
          matInput
          autocomplete="off"
          formControlName="direccion"
          [(ngModel)]="lista.direccion"
        />
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>Correo</mat-label>
        <input
          matInput
          type="email"
          autocomplete="off"
          formControlName="correo"
          [(ngModel)]="lista.correo"
        />
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>Fecha de Nacimiento</mat-label>
        <input
          matInput
          [matDatepicker]="myDatepicker1"
          autocomplete="off"
          formControlName="fechaNacimiento"
          [(ngModel)]="lista.fechaNacimiento"
        />
      </mat-form-field>
      <mat-datepicker-toggle [for]="myDatepicker1"></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker1></mat-datepicker>

      <mat-form-field appearance="legacy">
        <mat-label>Teléfono</mat-label>
        <input
          matInput
          type="number"
          maxlength="10"
          autocomplete="off"
          formControlName="telefono"
          [(ngModel)]="lista.telefono"
        />
      </mat-form-field>

      <label id="example-radio-group-label">Sexo:
      <br>
      <mat-radio-group formControlName="sexo" [(ngModel)]="lista.sexo">
  
               
        <mat-radio-button value="Masculino">Masculino</mat-radio-button>
        <mat-radio-button value="Femenino">Femenino</mat-radio-button>
      </mat-radio-group>

    </label>
      <mat-form-field appearance="legacy">
        <mat-label>Ocupacion</mat-label>
        <input
          matInput
          autocomplete="off"
          formControlName="ocupacion"
          [(ngModel)]="lista.ocupacion"
        />
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>Cargo</mat-label>
        <input
          matInput
          autocomplete="off"
          formControlName="cargo"
          [(ngModel)]="lista.cargo"
        />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions style="text-align: center">
      <button
        mat-raised-button
        color="primary"
        (click)="irLista()"
        style="margin-right: 20px"
      >
        Volver
      </button>
      <button
        type="submit"
        [disabled]="form.invalid"
        mat-raised-button
        color="accent"
        (click)="agregar()"
      >
        Guardar
      </button>
    </mat-card-actions>
  </form>
</mat-card>
