

<form [formGroup]="form">
  <ng-template matStepLabel>Paralelo</ng-template>
  <div class="row">
    <mat-form-field class="col-md-6">
      <mat-label>Nombre</mat-label>
      <input
        type="text"
        matInput
        [(ngModel)]="lista.nombre"
        formControlName="nombre"

        placeholder="Ejemplo nombre de paralelo"
        required
      />
    </mat-form-field>

  </div>
  <mat-card>
    <mat-card-actions>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <button mat-raised-button color="primary" (click)="irLista()" style="margin-right: 20px;">   Volver</button>
      <button type="submit" [disabled]="form.invalid" mat-raised-button  color="accent" routerLink="/dashboard/crear-materias" (click)="agregar()">   Guardar
      </button>
      </mat-grid-tile>
    </mat-card-actions>
</mat-card>
</form>
